.container
  .col-md-12
    .row
      .panel.panel-warning
        .panel-body
          = simple_form_for @post do |f|
            = f.input :title,  input_html: {class: "form-control"}
            = f.input :description, input_html: {class: "form-control"}
            = f.file_field :image, input_html: {class: "form-control"}
            %br
            .form-actions
              = f.button :submit, input_html: {class: "form-control"}


