<% @posts.each do |post| %>
  <h1><%= link_to post.title, post %></h1>
  <%= link_to (image_tag post.image.url(:small)), post %>
  <p>Created by <%= post.user.email %></p>
  <%= link_to "Like", like_post_path(post), method: :get %>
  <p><%= post.get_upvotes.size %> like</p>
<% end %>