.container-fluid#show
  -# .row
  .col-md-9.thumbnail
    = image_tag @post.image.url(:medium), class: "show_image"
    %p.show_title
      =@post.title
    
    %span.badge
      =@post.counter 
      %i.fa.fa-eye 
      
    %span.badge
      =@post.like
      %i.fa.fa-heart

    
    .show_description
      = simple_format(@post.description)#, class: "show_description"

    .btn-group.btn-group-lg
      .btn.btn-default.i.fa.fa-heart
        = link_to "Like", like_post_path(@post, title: "Like"), method: :get

      - if user_signed_in?
        .btn.btn-default
          = link_to add_to_collection_post_path(@post), method: :post do
            %i.fa.fa-archive Collection
        .btn.btn-default
          = link_to "Edit", edit_post_path(@post)
        .btn.btn-default
          = link_to "Delete", post_path(@post),method: :delete,data:{confirm: "Are you sure?"}
        
      
    = render 'disqus'

  .col-md-3
    .thumbnail
      %p.show_also_like 
        %i.fa.fa-paint-brush
        Tool
      -@post.tools.each do |t|
        %li 
          =t.name
    .div
      %p.show_also_like You might also like:
      #random_post
        =link_to (image_tag @random_post.image.url(:small), class: "random_post thumbnail"), @random_post
      #other_random_post  
        =link_to (image_tag @other_random_post.image.url(:small), class: "random_post thumbnail"), @other_random_post

    
      

  

  

    

        

