=@post.description
.container-fluid#show
  -# .row
  .col-md-9.thumbnail.show
    = image_tag @post.image.url(:medium), class: "show_image"
      
    %span.badge
      =@post.counter 
      %i.fa.fa-eye 
      
    %span.badge
      =@post.like
      %i.fa.fa-heart

    %p.show_title
      =@post.title
    
    .show_description
      = simple_format(@post.description)#, class: "show_description"

    -@post.steps.each.with_index do |step, index|
      %div= "#{index + 1}. #{step.description}"
      %hr/
      
    .btn-group.btn-group-lg
      .btn.btn-default.i.fa.fa-heart.btn.btn-lg
        = link_to "Like", like_post_path(@post, title: "Like"), method: :get

      - if user_signed_in?
        .btn.btn-default.btn.btn-lg
          = link_to add_to_collection_post_path(@post), method: :post do
            %i.fa.fa-archive Collect
        .btn.btn-default
          = link_to "Edit", edit_post_path(@post)
        .btn.btn-default
          = link_to "Delete", post_path(@post),method: :delete,data:{confirm: "Are you sure?"}
         
    = render 'disqus'

  .col-md-3#tool
    .thumbnail
      %p.show_also_like 
        %i.fa.fa-paint-brush#title Tool
      -@post.tools.each do |t|
        %p=t.name
        %hr/

    .div
      %p.show_also_like You might also like:
      #random_post
        =link_to (image_tag @random_post.image.url(:small), class: "random_post thumbnail"), @random_post
      #other_random_post  
        =link_to (image_tag @other_random_post.image.url(:small), class: "random_post thumbnail"), @other_random_post

    
      

  

  

    

        

