%h2.text-center My Collections
%table.table.table-bordered
  %thead
    %tr
      %th Id
      %th Image
      %th Title
      %th Views
      %th Likes
      %th Created at
      %th Edit
  %tbody
    -@my_collections.each do |pc|
      %tr
        %td= pc.id
        %td{width: "100"}= image_tag(pc.image(:small))
        %td= link_to pc.title, post_path(pc)
        %td= pc.counter
        %td= pc.like
        %td= pc.created_at
        %td
          = link_to cancel_post_account_path(pc), method: :delete do 
            %i.fa.fa-times
=will_paginate(@my_collections)
=link_to "Back", :back, class: "btn btn-primary pull-right"



