
%h2.text-center My Posts
%table.table.table-bordered
  %thead
    %tr
      %th Id
      %th Image
      %th Title
      %th Views
      %th Likes
      %th Created at
      %th Edit 
  %tbody
    -@posts.each do |post|
      %tr
        %td= post.id
        %td{width: "100"}= image_tag(post.image(:small))
        %td= link_to post.title, post_path(post)
        %td= post.counter
        %td= post.like
        %td= render_post_created_time(post)
        %td
          = link_to edit_post_path(post) do 
            %i.fa.fa-pencil
=will_paginate(@posts)
=link_to "Back", :back, class: "btn btn-primary pull-right"
